* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
}